.section-wrapper {
    position: relative;
}


.rich-banners.row::before {
    display: none;
}


.banners > div {
    padding-top: 36px;
}

.col-rb-34 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 34%;
    flex: 0 0 34%;
    max-width: 34%;
}


.col-rb-23 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
}

.rich-banners .rich-banner a.banner-content-wrapper .banner-texting.without--fx.without--cta.without--linklist .b-heading:hover {
    transform: scale(1.1, 1.1);
}


.col-rb-31 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;

}


.rich-banners {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -moz-flex !important;
    display: -webkit-flex !important;
    display: flex !important;
}

.rich-banners {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}


.rich-banners .rich-banner .banner-content-wrapper.text-vpos-middle {

    align-items: center;

}

.rich-banners .rich-banner .banner-content-wrapper {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    min-height: 100px;

}


.col-rb-33 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}


.rich-banners .rich-banner.text-pos-right {

    justify-content: flex-end;

}

.rich-banners .rich-banner:not(.product-grid) {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    background-color: #DDDDDD;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    overflow: hidden;

}

.rich-banners .has--rounded-edge {

    border-radius: 10px;

}

.rich-banners .rt-image-shadow {

    display: block;
    position: relative;
    background-size: cover;
    overflow: visible !important;

}


.rich-banners .rich-banner .banner-content-wrapper .banner-texting.text-align-left {
    text-align: right;
}

.rich-banners .rich-banner .banner-content-wrapper .banner-texting {
    display: inline-block;
}

.rich-banners .rich-banner a.banner-content-wrapper .banner-texting.without--fx.without--cta.without--linklist .b-heading {
    transform: scale(1, 1);
    will-change: transform;
    transition: all 180ms ease-in;
}

.rich-banners .rich-banner .banner-content-wrapper .banner-texting.without--fx .b-heading {
    padding: 10px 0;
}

.rich-banners .rich-banner .banner-content-wrapper .banner-texting .b-heading {
    line-height: 1;
    width: 100%;
}

.rich-banners .rich-banner .banner-content-wrapper .banner-texting .b-caption {
    line-height: 1;
    width: 100%;
}

.rich-banners .rt-image-shadow::after {
    transform: scale(0.95) translateY(36px) translateZ(-30px);
    filter: blur(20px);
    opacity: 0.9;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    z-index: -1;
    transition: filter .3s ease;
}


.section-wrapper {
    position: relative;
}


.rich-banners .heading {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    flex-basis: 100%;
    text-align: center;
    z-index: 2;
}


.rich-banners .heading span {
    border-color: #d9121f;
}

.rich-banners .heading span {
    border-bottom: 2px solid #d9121f;
    border-bottom-color: rgb(217, 18, 31);
}

.rich-banner--group.is-column {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}


.col-rb-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}


.body-white .standard-body .full-width .product-grid {
    padding: 0;
}

.rich-banners .rich-banner.product-grid {
    padding: 0px;
    clear: none;
    position: relative;
}


.standard-body .full-width .product-grid {
    padding: 0 15px;
}


body.templateIndex .product-grid .product::before {
    left: 0px;
}


body.templateIndex .product-grid .product {
    padding-bottom: 10px;
}


body.templateIndex .product-grid .product::before {
    left: 0px;
}


.sale-new-type-2 #main .new, .sale-new-type-2 #main .sale {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#main .new {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    background: #e80d1b;
}

#main .new, #main .sale {
    padding: 6px 11px;
    z-index: 2;
}

#main .new {
    background-color: #d9121f;
    padding: 8px 20px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    margin-top: -15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.rich-banners .rich-banner.product-grid .product.product-item-advanced-wrapper .new {
    margin-top: 0px;
}


.aspect-product__wrapper {
    position: relative;
    display: block;
}


.aspect-product__images {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    text-align: right;
}


.product .image .main-images-wrapper {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    outline: 0;
}


.aspect-product__images {
    text-align: right;
}

.dots .item-images-wrapper {
    margin-top: 0;
    right: initial;
    left: 15px;
    top: 15px;
    transform: none !important;
}

.item-images-wrapper {
    display: flex;
    padding: 0;
    padding-right: 0px;
    padding-right: 10px;
    position: absolute;
    margin-top: -50px;
    right: 0;
    left: 0;
    will-change: transform;
    transition: all 180ms ease-in;
}

.item-images-wrapper a.active {
    opacity: 1;
}

.item-images-wrapper a {
    padding-left: 5px;
    opacity: 0.2;
    transition: opacity 0.25s;
}

.item-images-wrapper a:last-child {
    padding-left: 0;
}


.dots .item-images-wrapper .dot {
    width: 7px;
    height: 7px;
    background: #000000;
    border-radius: 50%;
}

.product-item-content {
    padding-top: 16px;
    position: relative;
    z-index: 2;
    will-change: transform;
    transition: all 180ms ease-in;
    background-color: #fff;
}

.product-grid .product .name {
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart-item-total span.money, .cart-price-total span.money, .compare-info .price-new, .products .product-info-more .price, .product-grid .product .price, .product-list .actions > div .price, .product-info .price .price-new, ul.megamenu li .product .price, .mini-cart-total td:last-child, .cart-total table tr td:last-child, .mini-cart-info .total, .advanced-grid-products .product .right .price, .product-list .name-actions > .price, .today-deals-products .product .price, .medic-last-in-stock .price, .architecture-products .product .right .price, .matrialarts-products .matrial-product .right .price, .today-deals-toys2-products .price, .today-deals-petshop2-products .price, .today-deals-shoes3-products .price, .today-deals-computer8-products .price, .today-deals-computer6-products .price, .holidays-products .product .right .price, .today-deals-computer6-products .countdown-section, .cart-total-price {
    color: #d9121f;
}

.products .product-info-more .price, .product-grid .product .price, .advanced-grid-products .product .right .price, #top #cart_block .cart-heading p strong, .cart-total table tr td:last-child, .mini-cart-info .total, .mini-cart-total td:last-child, .today-deals-products .product .price, .architecture-products .product .right .price, .matrialarts-products .matrial-product .right .price {
    font-size: 14px;
    font-weight: 600 !important;
}

.product-grid .product .price {
    margin-bottom: 8px;
}

.product-grid .product .price {
    color: #d9121f;
    font-size: 14px;
    font-weight: 600;
}

.products .product-info-more .price .price-old, .product-list .name-actions > .price .price-old, .product-grid .product .price .price-old, .today-deals-products .product .price .price-old, .architecture-products .product .right .price .price-old, .today-deals-toys2-products .price .price-old, .today-deals-petshop2-products .price .price-old, .today-deals-shoes3-products .price .price-old, .today-deals-computer8-products .price .price-old, .today-deals-computer6-products .price .price-old {
    color: #232323;
}

.product-grid .product .price .price-old {
    color: #232323;
    font-weight: 400 !important;
    text-decoration: line-through;
    padding-left: 2px;
}

.price-old, .today-deals-products .product .price .price-old, .architecture-products .product .right .price .price-old {
    font-size: 14px;
    font-weight: 600;
}

.hide {
    display: none !important;
}


.product.product-item-advanced-wrapper .selector-wrapper.Color::after, .product.product-item-advanced-wrapper .selector-wrapper.Colour::after, .product.product-item-advanced-wrapper .selector-wrapper.color::after, .product.product-item-advanced-wrapper .selector-wrapper.colour::after, .product.product-item-advanced-wrapper .selector-wrapper.size::after, .product.product-item-advanced-wrapper .selector-wrapper.Size::after {
    display: none;
}

.select::after, .product-info .options2 .selector-wrapper::after, .product.product-item-advanced-wrapper .selector-wrapper::after, .product-filter .list-options .sort::after, .product-filter .list-options .limit::after {
    color: #d9121f;
}

.product.product-item-advanced-wrapper .selector-wrapper::after {
    pointer-events: none;
    color: #d9121f;
    content: "\f078";
    display: block;
    font: normal normal normal 14px/1 "FontAwesome";
    font-size: 14px;
    font-size: 9px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    color: #d9121f;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    z-index: 1;
}

.product.product-item-advanced-wrapper .selector-wrapper.Color, .product.product-item-advanced-wrapper .selector-wrapper.Colour, .product.product-item-advanced-wrapper .selector-wrapper.color, .product.product-item-advanced-wrapper .selector-wrapper.colour, .product.product-item-advanced-wrapper .selector-wrapper.size, .product.product-item-advanced-wrapper .selector-wrapper.Size {
    width: auto;
}

.product.product-item-advanced-wrapper .selector-wrapper {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.product.product-item-advanced-wrapper .single-option-selector-item {
    width: 100%;
    height: 100%;
}

.single-option-selector-item {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

select {
    color: #808080;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
    background-color: #f5f5f5;
    color: #808080;
    font-size: 12px;
    border: 1px solid #f5f5f5;
}

select {
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
    background-color: #f5f5f5;
    color: gray;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
    padding: 12px 20px 11px;
    padding-top: 12px;
    padding-bottom: 11px;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -webkit-transition: background-color linear 0.2s, border-color linear .2s;
    -moz-transition: background-color linear 0.2s, border-color linear .2s;
    -o-transition: background-color linear 0.2s, border-color linear .2s;
    transition: background-color linear 0.2s, border-color linear .2s;
    height: 45px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

.product-item-option .swatch {
    padding: 0;
}

.swatch {
    padding: 15px 0 0;
    margin: 0;
    line-height: 23px;
}

.product-item-option .swatch .swatch-element {
    margin: 5px 0 5px 7px;
}

.swatch .swatch-element {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 10px 0 5px 7px;
    padding: 0;
    min-height: 20px;
    position: relative;
}

button::-moz-focus-inner, input::-moz-focus-inner {

    padding: 0;
    border: 0;

}


.btooltip::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    margin-bottom: 5px;
    -moz-transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    opacity: 0;
    visibility: hidden;
}

.swatch .swatch-element .swatch-radio.selected + label, .swatch .swatch-element input:checked + label {
    border-color: #d9121f;
    background-color: #d9121f;
    color: #fff;
}

.product-item-option .swatch .swatch-element label {
    padding: 5px 10px 4px;
}

table.attribute, table.list, .wishlist-product table, .wishlist-info table, .compare-info, .cart-info table, .checkout-product table, .table, table.attribute td, table.list td, .wishlist-product table td, .wishlist-info table td, .compare-info td, .cart-info table td, .checkout-product table td, .table td, .manufacturer-list, .manufacturer-heading, .center-column .panel-body, .review-list .text, .product-info .cart, .product-info .cart .links, .product-info .cart .links a:last-child, .product-info .cart .minimum, .product-info .review, .border-width-1 .standard-body .full-width .col-md-12 .col-md-12.center-column .cart-info thead td:first-child::before, .cart-info table thead td, #main .center-column .panel-heading, .main-fixed .center-column .panel:last-child, .standard-body .full-width .center-column .panel:last-child, .standard-body .fixed .center-column .panel:last-child, .center-column .panel-body, .body-white.checkout-checkout .standard-body .full-width .center-column .panel:last-child, .manufacturer-content, .product-block, .modal-header, .product-info .thumbnails li img, .product-info .thumbnails-carousel img, .product-info .product-image, .box-type-15 .col-sm-12 .box.box-with-products .box-content, .box-type-15 .col-md-12 .box.box-with-products .box-content, .box-type-15 .col-sm-12 .filter-product .tab-content, .box-type-15 .col-md-12 .filter-product .tab-content, .body-white.module-faq .standard-body #main .full-width .center-column .faq-section:last-child .panel:last-child, .swatch .swatch-element label, #main .mfilter-image ul li, .news.v2 .media-body .bottom, .news.v2 .media-body .date-published, #main .post .comments-list .text, #main .posts .post .post-content, #main .post .date-published, #main .post .meta, #main .post .post-content, .category-wall ul li a, .more-link, .body-white-type-2.checkout-cart .main-fixed .center-column > form > :first-child {
    border-color: #e5e5e5;
}

.swatch .swatch-element label {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    min-width: 40px;
    display: block;
    text-align: center;
    padding: 9px 20px 8px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    line-height: 10px;
    cursor: pointer;
}

.btooltip {
    position: relative;
}

label {
    display: inline-block;
    padding-top: 5px;
}


.swatch .swatch-element .swatch-radio.selected + label, .swatch .swatch-element input:checked + label {
    color: #fff;
}

.swatch .swatch-element label {
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
    cursor: pointer;
}

.swatch .swatch-element .swatch-radio.selected + label, .swatch .swatch-element input:checked + label {
    color: #fff;
}

.swatch .swatch-element label {
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
    cursor: pointer;
}


.standard-body .full-width .container {

    max-width: 1230px;
    margin: 0 auto;
    padding-right: 45px;
    padding-left: 45px;

}

.container {

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.main-content.home .pattern > .container > .row {

    margin: 0;

}


.swatch .swatch-element .swatch-radio.selected + label, .swatch .swatch-element input:checked + label {
    color: #fff;
}

.swatch .swatch-element label {
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
    cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.swatch .swatch-element input {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    margin: 2px 4px 0 0;
    margin-top: 1px \9;
    margin-left: 4px;
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    padding: 0;
    box-sizing: border-box;
}

button, input, select[multiple], textarea {
    background-image: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

.quickshop-type-advanced-wrapper .product-item-inside-hover {
    display: flex;
    justify-content: center;
}

.product-item-option + .product-item-inside-hover {
    margin-top: 10px;
    will-change: transform;
    transition: all 180ms ease-in;
}

.product-item-inside-hover {
    display: flex;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    will-change: transform;
    transition: all 180ms ease-in;
    visibility: hidden;
}

.product-item-inside-hover {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: center;
    position: absolute;
    width: 100%;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button, input, select[multiple], textarea {
    background-image: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

.quickshop-type-advanced-wrapper .product-item-content form .btn-action {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: 1px solid #ccc;
    background: transparent;
    padding: 5px 15px;
    color: #333 !important;
}

#sidebar .mfilter-box .mfilter-content .filter_title .arrow::after, #sidebar .mfilter-box .mfilter-content .filter_title .arrow.rotArr::after, .product-item-content form .btn-action, .product-item-content form .btn-action i.fa {
    color: #d9121f !important;
}

.product-item-content .btn-action {
    background: transparent;
}

.product-item-content .btn-action {
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #d9121f;
}

.product-item-inside-hover button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button, input, select[multiple], textarea {
    background-image: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

.quickshop-type-advanced-wrapper .product-item-content form .btn-action i.fa {
    color: #333 !important;
}

.quickshop-type-advanced-wrapper .product-item-content .btn-action i.fa {
    font-size: 15px;
}

#sidebar .mfilter-box .mfilter-content .filter_title .arrow::after, #sidebar .mfilter-box .mfilter-content .filter_title .arrow.rotArr::after, .product-item-content form .btn-action, .product-item-content form .btn-action i.fa {
    color: #d9121f !important;
}

.product-item-content .btn-action i.fa {
    font-size: 18px;
}


.quickshop-type-advanced-wrapper .product-item-content form .btn-action {
    color: #333 !important;
}

.product-item-content .btn-action {
    text-transform: uppercase;
    font-weight: 600;
    color: #d9121f;
}

.product-item-inside-hover button svg {
    width: 15px;
    height: 15px;
}

svg:not(:root) {
    overflow: hidden;
}

.quickshop-type-advanced-wrapper .product-item-content form .btn-action i.fa {
    color: #333 !important;
}

.quickshop-type-advanced-wrapper .product-item-content .btn-action i.fa {
    font-size: 15px;
}

#sidebar .mfilter-box .mfilter-content .filter_title .arrow::after, #sidebar .mfilter-box .mfilter-content .filter_title .arrow.rotArr::after, .product-item-content form .btn-action, .product-item-content form .btn-action i.fa {
    color: #d9121f !important;
}

.product-item-content .btn-action i.fa {
    font-size: 18px;
}


.quickshop-type-advanced-wrapper .product-item-content form .btn-action i.fa {
    color: #333 !important;
}

.quickshop-type-advanced-wrapper .product-item-content .btn-action i.fa {
    font-size: 15px;
}

#sidebar .mfilter-box .mfilter-content .filter_title .arrow::after, #sidebar .mfilter-box .mfilter-content .filter_title .arrow.rotArr::after, .product-item-content form .btn-action, .product-item-content form .btn-action i.fa {
    color: #d9121f !important;
}

.product-item-content .btn-action i.fa {
    font-size: 18px;
}

.product-item-content .btn-action span {
    padding-right: 5px;
    letter-spacing: 0.04em;
}

.product-item-content .btn-action {
    text-transform: uppercase;
    font-weight: 600;
    color: #d9121f;
}

.hide {
    display: none !important;
}

select {
    color: #808080;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
    background-color: #f5f5f5;
    color: #808080;
    font-size: 12px;
    border: 1px solid #f5f5f5;
}

select {
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
    background-color: #f5f5f5;
    color: gray;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
    padding: 12px 20px 11px;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -webkit-transition: background-color linear 0.2s, border-color linear .2s;
    -moz-transition: background-color linear 0.2s, border-color linear .2s;
    -o-transition: background-color linear 0.2s, border-color linear .2s;
    transition: background-color linear 0.2s, border-color linear .2s;
    height: 45px;
}


.body-white .standard-body .full-width .product-grid {
    padding: 0;
}


.standard-body .full-width .product-grid {
    padding: 0 15px;
}


body.templateIndex .product-grid .product::before {
    left: 0px;
}


.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341208323 div.product {
    background-color: #ffffff;
}


body.templateIndex .product-grid .product {
    padding-bottom: 10px;
}


body.templateIndex .product-grid .product::before {
    left: 0px;
}


.aspect-product__wrapper {
    position: relative;
    display: block;
}


.col-rb-35 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}


.body-white .standard-body .full-width .product-grid {
    padding: 0;
}


.rich-banners .rich-banner.has-borders {
    border: none;
}

.standard-body .full-width .product-grid {
    padding: 0 15px;
}

.col-rb-100 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.product-grid {
    clear: both;
    position: relative;
    z-index: 1;
}


body.templateIndex .product-grid .product::before {
    left: 0px;
}


.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341390867 div.product {
    background-color: #ffffff;
}

.rich-banners .rich-banner.product-grid .product.product-item-advanced-wrapper {
    padding-top: 0px;
}

.rich-banners .rich-banner.product-grid .product.has--box-shadow {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.rich-banners .rich-banner.product-grid .product {
    position: relative;
    padding-right: 1px;
    padding-left: 1px;
    height: 100%;
}

body.templateIndex .product-grid .product {
    padding-bottom: 10px;
}

.product-grid .product.product-item-advanced-wrapper {
    padding: 10px 0;
    overflow: hidden;
}


.product-grid .product {
    padding: 50px 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.rich-banners .rich-banner.product-grid .product::before {
    background-color: transparent;
    border: none;
    border-top-color: currentcolor;
    border-left-color: currentcolor;
    border-bottom-color: currentcolor;
    border-right-color: currentcolor;
}

body.templateIndex .product-grid .product::before {
    left: 0px;
}

.product-grid .product::before, .product-list > div::before, .product-list .name-actions::before, .product-list .desc::before, .center-column .product-grid::before, .center-column .product-grid::after, .product-grid > .row::before, .category-info::before, .refine_search_overflow::after, .tab-content::before, .tab-content::after, .product-filter .list-options .limit::before, .product-filter .list-options .sort::before, .product-filter .options .product-compare::before {
    background: #e5e5e5;
    background-color: rgb(229, 229, 229);
}

.product-grid .product::before {
    border-color: #ffffff;
}

.product-grid > .row::before, .product-filter .options .product-wishlist::before, .product-filter .list-options .sort::before, .product-filter .list-options .limit::before, .product-info .description, .product-info .price, .product-info .options, .product-list::before, .product-list > div::before, .product-list .name-actions::before, .product-list .desc::before, .center-column .product-grid::before, .product-grid .product::before, .center-column .product-grid::after, .tab-content::before, .tab-content::after, .product-info .review, .product-info .cart .minimum, .product-info .links .link:last-child, .product-info .links, .product-info .cart, .product-block, .product-info .thumbnails li img, .product-info .thumbnails-carousel img, .product-info .product-image, .cart-info table thead td, .center-column .panel-body, .body-white.checkout-checkout .standard-body .full-width .center-column .panel:last-child, .main-fixed .center-column .panel:last-child, .standard-body .full-width .center-column .panel:last-child, .standard-body .fixed .center-column .panel:last-child, .main-fixed .center-column .panel-heading, .standard-body .full-width .center-column .panel-heading, .standard-body .fixed .center-column .panel-heading, .standard-body .fixed2 .center-column .panel-heading, .center-column .panel-heading, .border-width-1 .standard-body .full-width .col-md-12 .col-md-12.center-column .cart-info thead td:first-child::before, .posts .post .post-content, #shopify-product-reviews .spr-review-content::before, #shopify-product-reviews .spr-review-content, .tab-content::before, .tab-content::after, .body-white.module-faq .standard-body .full-width .center-column .faq-section:last-child .panel:last-child, .templateListCollections .categories-wall .category-wall {
    border-color: #e5e5e5 !important;
}

.product-grid .product::before {
    content: '';
    position: absolute;
    top: 1px;
    bottom: -200px;
    left: -16px;
    width: 1px;
    display: block;
    border-right: 1px solid #e5e5e5;
    border-color: #fff;
    z-index: 1;
}

.clearfix::before, .clearfix::after {
    display: table;
    content: " ";
}

.sale-new-type-2 #main .new, .sale-new-type-2 #main .sale {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#main .new, #main .sale {
    padding: 6px 11px;
    z-index: 2;
}

.rich-banners .rich-banner.product-grid .product.product-item-advanced-wrapper .sale {
    margin-top: 0px;
}


.sale {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    background: #1349b2;
}

.sale {
    background-color: #1349b2;
    padding: 8px 20px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    margin-top: -15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.product .image[class*="aspect-ratio-"] {
    position: relative;
}


.aspect-product__wrapper {
    position: relative;
    display: block;
}

.aspect-product__spacer {
    width: 100%;
}

.aspect-ratio-075 .aspect-product__spacer-inner {
    padding-top: 133.33333%;
}

.aspect-product__images {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    text-align: right;
}

.product .image[class*="aspect-ratio-"] .main-images-wrapper {
    position: static;
}

.product .image .main-images-wrapper {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    outline: 0;
}

.product .image[class*="aspect-ratio-"].aspect-ratio-crop .main-images-wrapper img {
    object-fit: cover;
}

.product .image[class*="aspect-ratio-"] .main-images-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-grid .product .image img.zoom-image-effect {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

.product .image img.zoom-image-effect {
    will-change: transform;
    transition: all 180ms ease-in;
    transition-duration: 180ms;
    transition-timing-function: ease-in;
}


.rich-banners > div img {
    min-width: 100%;
}

.banners > div img {
    display: block;
    margin: 0 auto;
}


.aspect-product__images {
    text-align: right;
}

.product .image .count_holder_item h3, .product .left .count_holder_item h3 {
    display: none;
}

.box .box-heading, .center-column h1, .center-column h2, .center-column h3, .center-column h4, .center-column h5, .center-column h6, .products-carousel-overflow .box-heading, .htabs a, .product-info .options h2, h3, h4, h6, .product-block .title-block, .filter-product .filter-tabs ul > li > a, .popup h4, .product-info .product-name a, legend {
    font-size: 20px;
    font-weight: 500 !important;
    text-transform: none;
}

.product-grid .product.product-item-advanced-wrapper.dots .product-item-buttons {
    flex-flow: row;
    top: auto;
    bottom: 50px;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.product-item-advanced-wrapper.dots .product-item-buttons {
    top: 30px;
}

.product-item-advanced-wrapper .product-item-buttons {
    display: flex;
    flex-flow: column;
    width: 40px;
    position: absolute;
    top: 8px;
    left: 8px;
}


body.templateIndex .product-grid .wishlist {
    left: 10px;
}


.product-grid .wishlist {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}


.product-grid .product.product-item-advanced-wrapper.dots .right-compare a::before, .product-grid .product.product-item-advanced-wrapper.dots .right-wishlist a::before, .product-grid .product.product-item-advanced-wrapper.dots .right-quickview a::before {
    top: auto;
    left: auto;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom: none;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
}

.product-grid .product .right-compare a::before, .product-grid .product .right-wishlist a::before, .product-grid .product .right-quickview a::before {
    top: 50%;
    bottom: auto;
    left: calc(100% + 5px);
    transform: translateY(-50%);
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000;
    border-top: 5px solid transparent;
}


.product-grid .product .right-quickview i, .product-grid .product .right-wishlist i, .product-grid .product .right-compare i {
    font-size: 15px;
}

.product-grid .product .wishlist i {
    font-size: 18px;
}

.product-grid .product.product-item-advanced-wrapper.dots .right-compare a::after, .product-grid .product.product-item-advanced-wrapper.dots .right-wishlist a::after, .product-grid .product.product-item-advanced-wrapper.dots .right-quickview a::after {
    top: auto;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.product-grid .product .right-compare a::after, .product-grid .product .right-wishlist a::after, .product-grid .product .right-quickview a::after {
    top: 50%;
    bottom: auto;
    left: calc(100% + 15px);
    transform: translateY(-50%);
}

.btooltip::after {
    content: attr(title);
    text-transform: none;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    bottom: 100%;
    background-color: #000;
    color: #fff;
    white-space: pre;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 10px;
    line-height: normal;
    padding: 2px 8px;
    border-radius: 3px;
    -moz-transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    opacity: 0;
    visibility: hidden;
}

.product-grid .product.product-item-advanced-wrapper .image .product-item-buttons .wishlist, .product-grid .product.product-item-advanced-wrapper .image .product-item-buttons .compare, .product-grid .product.product-item-advanced-wrapper .image .product-item-buttons .quickview {
    position: static;
    width: 30px;
    margin: 5px;
    z-index: 5;
}

.product-grid .product .right-quickview, .product-grid .product .right-compare, .product-grid .product .right-wishlist {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    color: #191919;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 5;
}

.items-image-buttons a {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
}

.items-image-buttons svg {
    fill: #bebebe;
    will-change: fill;
    transition: 200ms linear;
    width: 30px;
    height: 30px;
}

svg:not(:root) {
    overflow: hidden;
}

.items-image-buttons a.next {
    right: auto;
    left: 5px;
}

.items-image-buttons a {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
}

.dots .item-images-wrapper {
    margin-top: 0;
    right: initial;
    left: 15px;
    top: 15px;
    transform: none !important;
}

.item-images-wrapper {
    display: flex;
    padding: 0;
    padding-right: 0px;
    padding-right: 10px;
    position: absolute;
    margin-top: -50px;
    right: 0;
    left: 0;
    will-change: transform;
    transition: all 180ms ease-in;
}

.item-images-wrapper a.active {
    opacity: 1;
}

.item-images-wrapper a {
    padding-left: 5px;
    opacity: 0.2;
    transition: opacity 0.25s;
}

.dots .item-images-wrapper .dot {
    width: 7px;
    height: 7px;
    background: #000000;
    border-radius: 50%;
}

.product-item-content {
    padding-top: 16px;
    position: relative;
    z-index: 2;
    will-change: transform;
    transition: all 180ms ease-in;
    background-color: #fff;
}

.row2 {

    margin: 0;

}


.new {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    background: #e80d1b;
    padding: 8px 20px 5px;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    margin-top: -15px;
    /*border-radius: 20px;*/
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/

}


.product-grid .product.product-item-advanced-wrapper .sale, .product-grid .product.product-item-advanced-wrapper .new {

    margin-top: 0 !important;

}

.rich-banners .rich-banner .banner-content-wrapper .banner-texting.text-align-center {
    text-align: center;
}

.rich-banners .rich-banner .banner-content-wrapper .banner-texting .b-caption {
    line-height: 1;
    width: 100%;
}

.rich-banners#rich-banners-1539340564565 {
    margin-top: 50px;
}


.rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768.text-pos-left .banner-content-wrapper {
    margin-right: 5%;
}

.rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768.text-pos-right .banner-content-wrapper {
    margin-left: 5%;
}

.rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 .banner-content-wrapper.text-vpos-top {
    padding-top: 5%;
}

.rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 .banner-content-wrapper.text-vpos-bottom {
    padding-bottom: 5%;
}

.rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 ul.richbanner-linklist li a {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 ul.richbanner-linklist li a:hover {
    color: #ffffff;
}


.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341728873 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341713747 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341594524 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341682978 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341700693 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341700693 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341509222 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341530664 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341390867 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341463630 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539341208323 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1539340564565 .rich-banner#rich-banner-1539340702315 div.product {
    background-color: #ffffff;
}

.rich-banners#rich-banners-1537262289728 {
    margin-top: 0px;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177.text-pos-left .banner-content-wrapper {
    margin-right: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177.text-pos-right .banner-content-wrapper {
    margin-left: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 .banner-content-wrapper.text-vpos-top {
    padding-top: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 .banner-content-wrapper.text-vpos-bottom {
    padding-bottom: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 ul.richbanner-linklist li a {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 ul.richbanner-linklist li a:hover {
    color: #ffffff;
}
.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635.text-pos-left .banner-content-wrapper {
    margin-right: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635.text-pos-right .banner-content-wrapper {
    margin-left: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 .banner-content-wrapper.text-vpos-top {
    padding-top: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 .banner-content-wrapper.text-vpos-bottom {
    padding-bottom: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 ul.richbanner-linklist li a {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 ul.richbanner-linklist li a:hover {
    color: #ffffff;
}
.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509.text-pos-left .banner-content-wrapper {
    margin-right: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509.text-pos-right .banner-content-wrapper {
    margin-left: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 .banner-content-wrapper.text-vpos-top {
    padding-top: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 .banner-content-wrapper.text-vpos-bottom {
    padding-bottom: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 ul.richbanner-linklist li a {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 ul.richbanner-linklist li a:hover {
    color: #ffffff;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051.text-pos-left .banner-content-wrapper {
    margin-right: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051.text-pos-right .banner-content-wrapper {
    margin-left: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 .banner-content-wrapper.text-vpos-top {
    padding-top: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 .banner-content-wrapper.text-vpos-bottom {
    padding-bottom: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 ul.richbanner-linklist li a {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 ul.richbanner-linklist li a:hover {
    color: #ffffff;
}  .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356.text-pos-left .banner-content-wrapper {
       margin-right: 15%;
   }

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356.text-pos-right .banner-content-wrapper {
    margin-left: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 .banner-content-wrapper.text-vpos-top {
    padding-top: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 .banner-content-wrapper.text-vpos-bottom {
    padding-bottom: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 ul.richbanner-linklist li a {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 ul.richbanner-linklist li a:hover {
    color: #ffffff;
}
.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485.text-pos-left .banner-content-wrapper {
    margin-right: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485.text-pos-right .banner-content-wrapper {
    margin-left: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 .banner-content-wrapper.text-vpos-top {
    padding-top: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 .banner-content-wrapper.text-vpos-bottom {
    padding-bottom: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 ul.richbanner-linklist li a {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 ul.richbanner-linklist li a:hover {
    color: #ffffff;
}
.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1.text-pos-left .banner-content-wrapper {
    margin-right: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1.text-pos-right .banner-content-wrapper {
    margin-left: 15%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 .banner-content-wrapper.text-vpos-top {
    padding-top: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 .banner-content-wrapper.text-vpos-bottom {
    padding-bottom: 5%;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 ul.richbanner-linklist li a {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 ul.richbanner-linklist li a:hover {
    color: #ffffff;
}














@media (min-width: 768px) {
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 .banner-content-wrapper {
        min-height: 270px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 ul.richbanner-linklist {
        width: 350px;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 ul.richbanner-linklist li {
        flex: 0 0 50%;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 .banner-content-wrapper {
        min-height: 270px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 ul.richbanner-linklist {
        width: 350px;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 ul.richbanner-linklist li {
        flex: 0 0 50%;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 .banner-content-wrapper {
        min-height: 250px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 ul.richbanner-linklist {
        width: 350px;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 ul.richbanner-linklist li {
        flex: 0 0 50%;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 .banner-content-wrapper {
        min-height: 250px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 ul.richbanner-linklist {
        width: 350px;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 ul.richbanner-linklist li {
        flex: 0 0 50%;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 .banner-content-wrapper {
        min-height: 250px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 ul.richbanner-linklist {
        width: 350px;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 ul.richbanner-linklist li {
        flex: 0 0 50%;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 .banner-content-wrapper {
        min-height: 250px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 ul.richbanner-linklist {
        width: 350px;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 ul.richbanner-linklist li {
        flex: 0 0 50%;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 .banner-content-wrapper {
        min-height: 250px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 ul.richbanner-linklist {
        width: 350px;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 ul.richbanner-linklist li {
        flex: 0 0 50%;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 {
        background-size: cover;
    }
    .rich-banners.with-paddings#rich-banners-1537262289728 > div:not(.rich-banner--group),
    .rich-banners.with-paddings#rich-banners-1537262289728 > div.rich-banner--group > div {
        padding: 0px 10px;
        margin-top: 20px;
    }

    .col-rb-50 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

    }

    .rich-banners .rich-banner .banner-content-wrapper {
        white-space: nowrap;
    }

    .rich-banners.with-paddings#rich-banners-1539340564565 > div:not(.rich-banner--group),
    .rich-banners.with-paddings#rich-banners-1539340564565 > div.rich-banner--group > div {
        padding: 0px 7px;
        margin-top: 15px;
    }

    .rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 ul.richbanner-linklist {
        width: 350px;
    }

    .rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 ul.richbanner-linklist li {
        flex: 0 0 50%;
    }

    .rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 {
        background-size: cover;
    }
}

@media (max-width: 767px) {
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339247485 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262303356 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339734051 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339988509 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339993635 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 {
        background-size: cover;
    }
    .rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 .banner-content-wrapper {
        min-height: 100px
    }

    .rich-banners#rich-banners-1539340564565 .rich-banner.rich-banner-1539403389768 {
        background-size: cover;
    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1539339998177 .banner-content-wrapper {

        min-height: 100px;

    }

    .col-rbm-100 {

        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;

    }

    .b-heading {
        font-size: 13.5px !important;
    }

    .b-caption {
        font-size: 10px !important;

    }

    #footer-bottom-footer-bottom, .responsive .row > div.section-wrapper {
        padding-bottom: 0;
        padding-top: 0;

    }


    .responsive .row > div.section-wrapper {

        padding-right: 0;

    }

    .responsive .row > div {

        padding-right: 10px;
        padding-left: 10px;

    }

    .responsive .row > div {

        padding-right: 10px;
        padding-left: 10px;

    }

    .responsive .row {

        margin-right: -10px;
        margin-left: -10px;

    }

    .rich-banners > div {

        padding: 2px !important;

    }

    .rich-banners.with-paddings#rich-banners-1537262289728 > div:not(.rich-banner--group), .rich-banners.with-paddings#rich-banners-1537262289728 > div.rich-banner--group > div {
        margin-top: 0px;
    }

    .responsive .banners > div {

        padding-top: 30px;

    }

    .col-rbm-50 {

        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 {

        background-size: cover;

    }

    .rich-banners#rich-banners-1537262289728 .rich-banner.rich-banner-1537262289728-1 .banner-content-wrapper {

        min-height: 100px;

    }

    .rich-banners .rich-banner .banner-content-wrapper .banner-texting.without--fx .b-heading {

        padding: 3px 0px;

    }

    .rich-banners .rich-banner .banner-content-wrapper .banner-texting .b-caption {

        line-height: 1;
        width: 100%;

    }

    .responsive .main-content .pattern > .container, .responsive .standard-body .main-content .pattern > .container {

        padding-bottom: 35px;

    }

    .responsive .standard-body .fixed, .responsive .standard-body .fixed2 .container, .responsive .standard-body .full-width .container {

        padding: 0 20px;
        padding-bottom: 0px;

    }

    .responsive .standard-body .full-width .container {

        padding-right: 20px;
        padding-left: 20px;

    }

    .responsive .row {

        margin-right: -10px;
        margin-left: -10px;

    }

    .container2 {

        padding-left: 5px;
        padding-right: 5px;
        margin-left: auto;
        margin-right: auto;

    }

    .rich-banners.with-paddings#rich-banners-1539340564565 > div:not(.rich-banner--group), .rich-banners.with-paddings#rich-banners-1539340564565 > div.rich-banner--group > div {
        padding: 0px 7px;
        margin-top: 15px;
    }


}
